
# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore API key files
*.key
*.json

# Ignore IDE and editor settings
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
